#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  outline: none;
}

*:focus {
  outline: 0;
}

.breadcrumb {
  list-style: none;
  display: flex;
}

.breadcrumb-item {
  margin-right: 0px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
}

.breadcrumb-item a:hover {
  color: #ccc;
}

.breadcrumb-item::after {
  content: "/";
  margin-left: 5px;
}

.breadcrumb-item:last-child::after {
  content: "";
}
